h1 {
 font-family: helvetica, arial, sans-serif;
}
.left {
    float:left;
    padding-right:15px;

}
.right{
    float:right;
    padding-left:15;
}    /* Write your selector for .left below */

/* Write your selector for .right below */

.separator{
    width: 750px;

}